Repository baruntravel/baruntravel, pull requests merged in 2021-03, with the labels that each got.

#21 [feature/8] 핫 플레이스 골라서 목록에 담기 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/portalCartBody/portalCartBody.jsx
  frontend/src/components/routeNameBox/routeNameBox.jsx
  frontend/src/components/routeNameBox/routeNameBox.module.css
  frontend/src/containers/portalCart/portalCart.jsx
  frontend/src/pages/hotPlacePage/hotplacePage.jsx
  frontend/src/pages/hotplacePage/hotplacePages.jsx
  frontend/src/recoil/routeAtom.js
Labels: Frontend, 리뷰요청

#27 [feature/22] 나의 루트페이지 기능 구현
  frontend/src/App.js
  frontend/src/components/appLayout/appLayout.jsx
  frontend/src/components/appLayout/appLayout.module.css
  frontend/src/components/placeNameBox/placeNameBox.jsx
  frontend/src/components/placeNameBox/placeNameBox.module.css
  frontend/src/components/routeList/routeList.jsx
  frontend/src/components/routeList/routeList.module.css
  frontend/src/components/routeListCard/routeListCard.jsx
  frontend/src/components/routeListCard/routeListCard.module.css
  frontend/src/components/routeMap/routeMap.jsx
  frontend/src/components/routeMap/routeMap.module.css
  frontend/src/components/routeNameBox/routeNameBox.jsx
  frontend/src/components/sideMyProfile/sideMyProfile.jsx
  frontend/src/components/sideMyProfile/sideMyProfile.module.css
  frontend/src/containers/mapContainer/mapContainer.jsx
  frontend/src/containers/mapContainer/mapContainer.module.css
  frontend/src/pages/myRoutePage/myRoutePage.jsx
  frontend/src/pages/myRoutePage/myRoutePage.module.css
  frontend/src/recoil/routeAtom.js
Labels: Frontend, 리뷰요청

#20 [feature/19] 주소 정보 엔티티 생성 및 서비스 생성
  backend/api/src/main/java/me/travelplan/service/file/File.java
  backend/api/src/main/java/me/travelplan/service/file/FileServer.java
  backend/api/src/main/java/me/travelplan/service/file/FileType.java
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RoutePlace.java
  backend/api/src/main/java/me/travelplan/service/user/User.java
  backend/api/src/main/resources/db/migration/V20210308151110__Create_Users_Table.sql
  backend/api/src/main/resources/db/migration/V20210313193728__Create_Files_Table.sql
  backend/api/src/main/resources/db/migration/V20210313193729__Create_Places_Table.sql
  backend/api/src/main/resources/db/migration/V20210313201711__Create_Routes_Table.sql
  backend/api/src/main/resources/db/migration/V20210313201747__Create_Routes_Places_Table.sql
Labels: Backend, 리뷰요청

#36 [feature/33] 리뷰 리스트 컴포넌트 UI 베타 버전 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/map/hotplaceMap/categoryBar/categoryBar.jsx
  frontend/src/components/map/hotplaceMap/categoryBar/categoryBar.module.css
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/map/hotplaceMap/hotplaceMap.module.css
  frontend/src/components/portalCartBody/portalCartBody.jsx
  frontend/src/components/portalCartBody/portalCartBody.module.css
  frontend/src/components/portalCartBody/routeNameBox/routeNameBox.jsx
  frontend/src/components/portalCartBody/routeNameBox/routeNameBox.module.css
  frontend/src/components/reviewComponents/imagesZoom/imagesZoom.jsx
  frontend/src/components/reviewComponents/imagesZoom/imagesZoom.module.css
  frontend/src/components/reviewComponents/postImages/postImages.jsx
  frontend/src/components/reviewComponents/postImages/postImages.module.css
  frontend/src/components/reviewComponents/reviewForm/reviewForm.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.module.css
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/components/sideMyProfile/sideMyProfile.jsx
  frontend/src/components/sideMyProfile/sideMyProfile.module.css
  frontend/src/containers/portalCart/portalCart.module.css
  frontend/src/pages/hotPlacePage/hotplacePage.jsx
  frontend/src/pages/hotPlacePage/hotplacePage.module.css
  frontend/src/recoil/routeAtom.js
Labels: Component, Frontend

#39 Feature/38 로그인 API 구현
  backend/api/src/docs/asciidoc/auth.adoc
  backend/api/src/docs/asciidoc/index.adoc
  backend/api/src/main/java/me/travelplan/security/jwt/JwtTokenProvider.java
  backend/api/src/main/java/me/travelplan/security/jwt/Token.java
  backend/api/src/main/java/me/travelplan/service/user/AuthService.java
  backend/api/src/main/java/me/travelplan/service/user/EncodeMapping.java
  backend/api/src/main/java/me/travelplan/service/user/PasswordEncoderMapper.java
  backend/api/src/main/java/me/travelplan/service/user/User.java
  backend/api/src/main/java/me/travelplan/service/user/UserMapper.java
  backend/api/src/main/java/me/travelplan/web/AuthController.java
  backend/api/src/main/java/me/travelplan/web/AuthResponse.java
  backend/api/src/main/resources/db/migration/V20210308151110__Create_Users_Table.sql
  backend/api/src/test/java/me/travelplan/ApiDocumentUtils.java
  backend/api/src/test/java/me/travelplan/web/AuthControllerTest.java
Labels: Backend, 리뷰요청

#43 [feature/40] 내 정보 API 구현
  backend/api/src/docs/asciidoc/auth.adoc
  backend/api/src/main/java/me/travelplan/service/user/AuthService.java
  backend/api/src/main/java/me/travelplan/web/AuthController.java
  backend/api/src/main/java/me/travelplan/web/AuthResponse.java
  backend/api/src/test/java/me/travelplan/web/AuthControllerTest.java
Labels: Backend, 리뷰요청

#45 [feature/41] 경로 저장하기 API 구현
  backend/api/build.gradle
  backend/api/src/docs/asciidoc/auth.adoc
  backend/api/src/docs/asciidoc/index.adoc
  backend/api/src/docs/asciidoc/route.adoc
  backend/api/src/main/java/me/travelplan/config/jpa/BaseEntity.java
  backend/api/src/main/java/me/travelplan/service/file/File.java
  backend/api/src/main/java/me/travelplan/service/file/FileRepository.java
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceRepository.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RoutePlace.java
  backend/api/src/main/java/me/travelplan/service/route/RouteRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/service/user/AuthService.java
  backend/api/src/main/java/me/travelplan/service/user/UserMapper.java
  backend/api/src/main/java/me/travelplan/web/auth/AuthController.java
  backend/api/src/main/java/me/travelplan/web/auth/AuthRequest.java
  backend/api/src/main/java/me/travelplan/web/auth/AuthResponse.java
  backend/api/src/main/java/me/travelplan/web/route/RouteController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteDto.java
  backend/api/src/main/java/me/travelplan/web/route/RouteRequest.java
  backend/api/src/main/resources/application-local.yaml
  backend/api/src/main/resources/db/migration/V20210313193729__Create_Places_Table.sql
  backend/api/src/rest/RouteController.http
  backend/api/src/test/java/me/travelplan/web/AuthControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: 작업중

#49 [feature/48] 경로 정보 가져오기 API 구현
  backend/api/src/main/java/me/travelplan/service/file/File.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RouteNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/web/route/RouteController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteDto.java
  backend/api/src/main/java/me/travelplan/web/route/RouteRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RouteResponse.java
  backend/api/src/rest/RouteController.http
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: Backend, 리뷰요청

#64 [feature/46] 맵이 이동할 때마다 키워드 검색을 진행하고 그에대한 결과를 페이지에 출력
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/components/map/hotplaceMap/categoryBar/categoryBar.module.css
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/map/hotplaceMap/hotplaceMap.module.css
  frontend/src/components/portalCartBody/portalCartBody.jsx
  frontend/src/components/routeList/routeListCard/placeNameBox/placeNameBox.jsx
  frontend/src/components/routeList/routeListCard/placeNameBox/placeNameBox.module.css
  frontend/src/containers/portalCart/portalCart.jsx
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/hotplacePage/hotplacePage.module.css
Labels: Frontend
