Repository baruntravel/baruntravel, pull requests merged in 2021-06, with the labels that each got.

#211 [feature/203] PlaceService 테스트 코드 작성
  backend/api/src/docs/asciidoc/place.adoc
  backend/api/src/main/java/me/travelplan/service/place/PlaceReviewService.java
  backend/api/src/main/java/me/travelplan/service/place/domain/PlaceReview.java
  backend/api/src/main/java/me/travelplan/service/place/domain/PlaceReviewImage.java
  backend/api/src/main/java/me/travelplan/service/place/repository/PlaceReviewImageRepository.java
  backend/api/src/main/java/me/travelplan/web/common/UserDto.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceMapper.java
  backend/api/src/main/java/me/travelplan/web/place/review/PlaceReviewController.java
  backend/api/src/main/java/me/travelplan/web/place/review/PlaceReviewDto.java
  backend/api/src/main/java/me/travelplan/web/place/review/PlaceReviewMapper.java
  backend/api/src/rest/PlaceController.http
  backend/api/src/rest/route/RouteReviewController.http
  backend/api/src/test/java/me/travelplan/service/place/PlaceLikeServiceTest.java
  backend/api/src/test/java/me/travelplan/service/place/PlaceReviewServiceTest.java
  backend/api/src/test/java/me/travelplan/service/place/PlaceServiceTest.java
  backend/api/src/test/java/me/travelplan/web/place/PlaceReviewControllerTest.java
Labels: Backend, 리뷰요청

#216 [feature/161] 프로필에서 ( 내 경로 , 리뷰 , 공유 경로, 좋아요) 를 볼 수 있는 화면 구현
  frontend/src/App.js
  frontend/src/components/common/addSuccessConfirm/addSuccessConfirm.jsx
  frontend/src/components/common/addSuccessConfirm/addSuccessConfirm.module.css
  frontend/src/components/common/logoutConfirm/logoutConfirm.jsx
  frontend/src/components/common/removeSuccessConfirm/removeSuccessConfirm.jsx
  frontend/src/components/common/removeSuccessConfirm/removeSuccessConfirm.module.css
  frontend/src/components/common/reviewComponents/reviewForm/reviewForm.jsx
  frontend/src/components/common/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/common/sideMyProfile/sideMyProfile.jsx
  frontend/src/components/detailProfilePage/detailProfileBottom/detailProfileBottom.jsx
  frontend/src/components/detailProfilePage/detailProfileBottom/detailProfileBottom.module.css
  frontend/src/components/detailProfilePage/myRouteCard/myRouteCard.jsx
  frontend/src/components/detailProfilePage/myRouteCard/myRouteCard.module.css
  frontend/src/components/detailProfilePage/myRouteList/myRouteList.jsx
  frontend/src/components/detailProfilePage/myRouteList/myRouteList.module.css
  frontend/src/index.css
  frontend/src/pages/detailProfilePage/detailProfilePage.jsx
  frontend/src/pages/detailProfilePage/detailProfilePage.module.css
  frontend/src/pages/mainPage/mainPage.jsx
Labels: Frontend, 리뷰요청

#214 [feature/213] 경로 리뷰 수정, 장소 리뷰 페이징처리, 장소 리뷰 좋아요 기능 구현
  backend/api/src/docs/asciidoc/place.adoc
  backend/api/src/docs/asciidoc/route.adoc
  backend/api/src/main/java/me/travelplan/service/place/PlaceLikeService.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceReviewService.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceService.java
  backend/api/src/main/java/me/travelplan/service/place/domain/Place.java
  backend/api/src/main/java/me/travelplan/service/place/domain/PlaceReview.java
  backend/api/src/main/java/me/travelplan/service/place/domain/PlaceReviewLike.java
  backend/api/src/main/java/me/travelplan/service/place/repository/PlaceReviewLikeRepository.java
  backend/api/src/main/java/me/travelplan/service/place/repository/PlaceReviewRepository.java
  backend/api/src/main/java/me/travelplan/service/place/repository/PlaceReviewRepositoryCustom.java
  backend/api/src/main/java/me/travelplan/service/place/repository/PlaceReviewRepositoryImpl.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewService.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceMapper.java
  backend/api/src/main/java/me/travelplan/web/place/review/PlaceReviewController.java
  backend/api/src/main/java/me/travelplan/web/place/review/PlaceReviewDto.java
  backend/api/src/main/java/me/travelplan/web/place/review/PlaceReviewMapper.java
  backend/api/src/main/java/me/travelplan/web/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/web/route/review/RouteReviewController.java
  backend/api/src/main/java/me/travelplan/web/route/review/RouteReviewMapper.java
  backend/api/src/main/java/me/travelplan/web/route/review/dto/RouteReviewRequest.java
  backend/api/src/main/resources/db/migration/V20210601165201__Create_Places_Reviews_Likes_Table.sql
  backend/api/src/rest/PlaceController.http
  backend/api/src/rest/route/RouteReviewController.http
  backend/api/src/test/java/me/travelplan/service/place/PlaceReviewServiceTest.java
  backend/api/src/test/java/me/travelplan/service/route/RouteReviewServiceTest.java
  backend/api/src/test/java/me/travelplan/web/place/PlaceReviewControllerTest.java
  backend/api/src/test/java/me/travelplan/web/route/RouteReviewControllerTest.java
Labels: Backend, 리뷰요청

#229 [feature/222] 루트 짜기 페이지 구현
  frontend/src/App.js
  frontend/src/components/common/header/header.module.css
  frontend/src/components/common/navbar/navbar.jsx
  frontend/src/components/common/navbar/navbar.module.css
  frontend/src/components/common/sideMyProfile/sideMyProfile.jsx
  frontend/src/components/detailProfilePage/myRouteList/myRouteList.jsx
  frontend/src/components/routeDetailPage/imageMap/imageMap.jsx
  frontend/src/components/routeDetailPage/imageMap/imageMap.module.css
  frontend/src/components/routeMakerPage/wishList/wishList.jsx
  frontend/src/components/routeMakerPage/wishList/wishList.module.css
  frontend/src/components/routeMakerPage/wishListCard/wishListCard.jsx
  frontend/src/components/routeMakerPage/wishListCard/wishListCard.module.css
  frontend/src/components/routeMakerPage/wishListHeader/wishListHeader.jsx
  frontend/src/components/routeMakerPage/wishListHeader/wishListHeader.module.css
  frontend/src/components/routeMakerPage/wishPlaceCard/wishPlaceCard.jsx
  frontend/src/components/routeMakerPage/wishPlaceCard/wishPlaceCard.module.css
  frontend/src/pages/detailProfilePage/detailProfilePage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.module.css
  frontend/src/pages/routeMakerPage/routeMakerPage.jsx
  frontend/src/pages/routeMakerPage/routeMakerPage.module.css
Labels: Frontend, 리뷰요청

#228 [feature/227] 지역별 경로 추천순, 최신순 조회 구현
  backend/api/src/docs/asciidoc/route.adoc
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/service/route/domain/Route.java
  backend/api/src/main/java/me/travelplan/service/route/repository/RouteRepositoryCustom.java
  backend/api/src/main/java/me/travelplan/service/route/repository/RouteRepositoryImpl.java
  backend/api/src/main/java/me/travelplan/web/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/web/route/RoutesController.java
  backend/api/src/main/java/me/travelplan/web/route/dto/RouteDto.java
  backend/api/src/main/java/me/travelplan/web/route/dto/RouteRequest.java
  backend/api/src/main/java/me/travelplan/web/route/dto/RouteResponse.java
  backend/api/src/main/resources/db/migration/V20210313201711__Create_Routes_Table.sql
  backend/api/src/rest/route/RoutesController.http
  backend/api/src/test/java/me/travelplan/service/route/RouteServiceTest.java
  backend/api/src/test/java/me/travelplan/web/route/RoutesControllerTest.java
Labels: Backend, 리뷰요청

#235 [feature/233] 루트 짜기 페이지 기능 추가
  frontend/src/api/cartAPI.js
  frontend/src/components/common/cartIcon/cartIcon.jsx
  frontend/src/components/common/cartIcon/cartIcon.module.css
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/routeDetailPage/imageMap/imageMap.jsx
  frontend/src/components/routeMakerPage/wishList/wishList.jsx
  frontend/src/components/routeMakerPage/wishListCard/wishListCard.jsx
  frontend/src/components/routeMakerPage/wishPlaceCard/wishPlaceCard.jsx
  frontend/src/components/routeMakerPage/wishPlaceCard/wishPlaceCard.module.css
  frontend/src/pages/kakaoMapPage/kakaoMapPage.jsx
  frontend/src/pages/routeMakerPage/routeMakerPage.jsx
  frontend/src/pages/routeMakerPage/routeMakerPage.module.css
Labels: Frontend, 리뷰요청

#236 [feature/230] 찜목록 기능 구현
  backend/api/src/docs/asciidoc/index.adoc
  backend/api/src/docs/asciidoc/wishlist.adoc
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/service/route/domain/Route.java
  backend/api/src/main/java/me/travelplan/service/route/repository/RouteLikeRepository.java
  backend/api/src/main/java/me/travelplan/service/wishlist/WishlistService.java
  backend/api/src/main/java/me/travelplan/service/wishlist/domain/Wishlist.java
  backend/api/src/main/java/me/travelplan/service/wishlist/domain/WishlistPlace.java
  backend/api/src/main/java/me/travelplan/service/wishlist/exception/WishlistNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/wishlist/exception/WishlistPlaceDuplicatedException.java
  backend/api/src/main/java/me/travelplan/service/wishlist/repository/WishlistPlaceRepository.java
  backend/api/src/main/java/me/travelplan/service/wishlist/repository/WishlistRepository.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceDto.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceMapper.java
  backend/api/src/main/java/me/travelplan/web/route/dto/RouteRequest.java
  backend/api/src/main/java/me/travelplan/web/wishlist/WishlistController.java
  backend/api/src/main/java/me/travelplan/web/wishlist/WishlistMapper.java
  backend/api/src/main/java/me/travelplan/web/wishlist/dto/WishlistDto.java
  backend/api/src/main/java/me/travelplan/web/wishlist/dto/WishlistRequest.java
  backend/api/src/main/java/me/travelplan/web/wishlist/dto/WishlistResponse.java
  backend/api/src/main/resources/db/migration/V20210611101020__Create_Wishlist_Table.sql
  backend/api/src/main/resources/db/migration/V20210611101101__Create_Wishlist_PLaces_Table.sql
  backend/api/src/rest/WishlistController.http
  backend/api/src/rest/route/RouteController.http
  backend/api/src/test/java/me/travelplan/web/cart/CartControllerTest.java
  backend/api/src/test/java/me/travelplan/web/route/RouteControllerTest.java
  backend/api/src/test/java/me/travelplan/web/wishlist/WishlistControllerTest.java
Labels: Backend, 리뷰요청

#239 [feature/234] 찜 목록 리스트 컴포넌트, 추가했을 때 확인 컴포넌트 연결
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/common/cartIcon/cartIcon.jsx
  frontend/src/components/common/placeCard/placeCard.jsx
  frontend/src/components/common/placeSlider/placeSlider.jsx
  frontend/src/components/common/verticalWishList/verticalWishList.jsx
  frontend/src/components/common/verticalWishList/verticalWishList.module.css
  frontend/src/components/portal/loginBody/loginBody.module.css
  frontend/src/components/portal/registerBody/registerBody.module.css
  frontend/src/components/portal/wishListInputPortal/wishListPortalInput.jsx
  frontend/src/components/portal/wishListInputPortal/wishListPortalInput.module.css
  frontend/src/components/portal/wishListPortal/wishListPortal.jsx
  frontend/src/components/portal/wishListPortal/wishListPortal.module.css
  frontend/src/components/wishListPage/wishListContainer/wishListContainer.jsx
  frontend/src/containers/portalAuth/portalAuth.jsx
  frontend/src/index.css
  frontend/src/pages/kakaoMapPage/kakaoMapPage.jsx
  frontend/src/pages/routeMakerPage/routeMakerPage.jsx
  frontend/src/pages/wishListPage/wishListPage.jsx
Labels: Frontend, 리뷰요청

#242 [feature/240] portal 찜 목록 생성 API 연동, 찜 목록 조회 API 연동, 찜 목록에 장소 추가 API 연동
  frontend/src/api/wishListAPI.js
  frontend/src/components/common/header/header.module.css
  frontend/src/components/common/loading/loading.module.css
  frontend/src/components/common/placeCard/placeCard.jsx
  frontend/src/components/common/placeSlider/placeSlider.jsx
  frontend/src/components/common/verticalWishList/verticalWishList.jsx
  frontend/src/components/common/verticalWishList/verticalWishList.module.css
  frontend/src/components/portal/loginBody/loginBody.jsx
  frontend/src/components/portal/loginBody/loginBody.module.css
  frontend/src/components/portal/wishListInputPortal/wishListPortalInput.module.css
  frontend/src/components/portal/wishListPortal/wishListPortal.jsx
  frontend/src/pages/detailProfilePage/detailProfilePage.jsx
  frontend/src/pages/kakaoMapPage/kakaoMapPage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
  frontend/src/pages/reviewDetailPage/reviewDetailPage.jsx
  frontend/src/pages/reviewDetailPage/reviewDetailPage.module.css
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
  frontend/src/recoil/userState.js
Labels: Frontend, 리뷰요청

#248 [feature/243] 장소 상세 페이지 리뷰 추천순 최신순 , 리뷰 무한스크롤 구현
  frontend/src/api/reviewAPI.js
  frontend/src/api/wishListAPI.js
  frontend/src/components/common/deleteConfirm/deleteConfirm.jsx
  frontend/src/components/common/deleteConfirm/deleteConfirm.module.css
  frontend/src/components/common/reviewComponents/moreReviewList/moreReviewList.jsx
  frontend/src/components/common/reviewComponents/reviewForm/reviewForm.jsx
  frontend/src/components/common/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/common/reviewComponents/reviewList/reviewList.jsx
  frontend/src/components/common/reviewComponents/reviewScoreText/reviewScoreText.jsx
  frontend/src/components/common/sideMyProfile/sideMyProfile.module.css
  frontend/src/components/common/sortBox/sortBox.jsx
  frontend/src/components/comunityPage/placeContentBox/placeContentBox.jsx
  frontend/src/components/routeMakerPage/wishList/wishList.jsx
  frontend/src/pages/detailProfilePage/detailProfilePage.jsx
  frontend/src/pages/detailProfilePage/detailProfilePage.module.css
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.module.css
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.module.css
  frontend/src/pages/routeMakerPage/routeMakerPage.jsx
Labels: Frontend, 리뷰요청

#251 [feature/249] 루트 짜기 페이지 wishListItem 에러 수정 및 지도에 장소들 동적으로 표기
  frontend/src/components/routeMakerPage/routePlacesMap/routePlacesMap.jsx
  frontend/src/components/routeMakerPage/wishList/wishList.jsx
  frontend/src/components/routeMakerPage/wishList/wishList.module.css
  frontend/src/components/routeMakerPage/wishListCard/wishListCard.jsx
  frontend/src/components/routeMakerPage/wishListCard/wishListCard.module.css
  frontend/src/pages/routeMakerPage/routeMakerPage.jsx
Labels: Frontend, 리뷰요청

#254 [frontend/hotfix] 태그 에러 수정
  frontend/src/components/common/deleteConfirm/deleteConfirm.jsx
Labels: Frontend, bug

#255 [feature/252] 경로 상세 페이지 리뷰 수정한 것 적용하기
  frontend/src/api/reviewAPI.js
  frontend/src/components/common/deleteConfirm/deleteConfirm.jsx
  frontend/src/components/common/logoutConfirm/logoutConfirm.jsx
  frontend/src/components/common/resetConfirm/resetConfirm.jsx
  frontend/src/components/common/reviewComponents/reviewForm/reviewForm.jsx
  frontend/src/components/common/verticalWishList/verticalWishList.jsx
  frontend/src/components/common/verticalWishList/verticalWishList.module.css
  frontend/src/components/routeMakerPage/wishListCard/wishListCard.jsx
  frontend/src/components/routeMakerPage/wishPlaceCard/wishPlaceCard.module.css
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
  frontend/src/pages/reviewDetailPage/reviewDetailPage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.module.css
Labels: Frontend, 리뷰요청

#257 [feature/230] 찜목록 기능 구현 추가
  backend/api/src/docs/asciidoc/wishlist.adoc
  backend/api/src/main/java/me/travelplan/service/wishlist/WishlistService.java
  backend/api/src/main/java/me/travelplan/web/wishlist/WishlistController.java
  backend/api/src/main/java/me/travelplan/web/wishlist/WishlistMapper.java
  backend/api/src/main/java/me/travelplan/web/wishlist/dto/WishlistRequest.java
  backend/api/src/rest/WishlistController.http
  backend/api/src/test/java/me/travelplan/web/wishlist/WishlistControllerTest.java
Labels: Backend, 리뷰요청

#245 [feature/244] 페이징 api 수정, 페이징 api 수정, 장소 조회시 크롤링과정 추가
  backend/api/src/docs/asciidoc/place.adoc
  backend/api/src/main/java/me/travelplan/service/place/PlaceService.java
  backend/api/src/main/java/me/travelplan/service/place/domain/Place.java
  backend/api/src/main/java/me/travelplan/service/place/repository/PlaceReviewRepositoryImpl.java
  backend/api/src/main/java/me/travelplan/web/cart/CartController.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceMapper.java
  backend/api/src/main/java/me/travelplan/web/common/PageDto.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceController.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceDto.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceMapper.java
  backend/api/src/main/java/me/travelplan/web/place/review/PlaceReviewController.java
  backend/api/src/main/java/me/travelplan/web/route/RoutesController.java
  backend/api/src/main/java/me/travelplan/web/route/review/RouteReviewController.java
  backend/api/src/rest/PlaceController.http
  backend/api/src/rest/route/RoutesController.http
  backend/api/src/test/java/me/travelplan/service/place/PlaceServiceTest.java
  backend/api/src/test/java/me/travelplan/web/place/PlaceControllerTest.java
Labels: Backend, 리뷰요청
