Repository baruntravel/baruntravel, pull requests merged in 2021-05, with the labels that each got.

#145 [feature/112] 루트 상세 페이지 구현
  frontend/src/api/reviewAPI.js
  frontend/src/components/common/inputRootName/inputRootName.module.css
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/components/reviewComponents/reviewList/reviewList.module.css
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
Labels: Frontend, 리뷰요청

#147 [feature/71] 사이드 프로필 컴포넌트 + 프로필 수정 기능, 로그아웃 구현
  frontend/src/App.js
  frontend/src/api/authAPI.js
  frontend/src/components/common/logoutConfirm/logoutConfirm.jsx
  frontend/src/components/common/logoutConfirm/logoutConfirm.module.css
  frontend/src/components/common/menu/menu.jsx
  frontend/src/components/common/menu/menu.module.css
  frontend/src/components/common/navbar/navbar.jsx
  frontend/src/components/loginBody/loginBody.module.css
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/profileEdit/profileEdit.jsx
  frontend/src/components/profileEdit/profileEdit.module.css
  frontend/src/components/routeList/routeList.jsx
  frontend/src/components/sideMyProfile/sideMyProfile.jsx
  frontend/src/components/sideMyProfile/sideMyProfile.module.css
  frontend/src/containers/portalAuth/portalAuth.module.css
  frontend/src/pages/myRoutePage/myRoutePage.jsx
Labels: Frontend, 리뷰요청

#148 [feature/146] 경로 조회 api 수정, 경로 생성 api 수정
  backend/api/src/main/java/me/travelplan/service/file/File.java
  backend/api/src/main/java/me/travelplan/service/file/FileRepository.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RoutePlace.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewFile.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/web/route/RouteController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteDto.java
  backend/api/src/main/java/me/travelplan/web/route/RouteRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RouteResponse.java
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RoutesControllerTest.java
Labels: Backend, 리뷰요청

#149 [feature/136] 카트에 담기, 삭제 API 연동 , 카트 조회하기 API 연동
  frontend/src/api/authAPI.js
  frontend/src/api/cartAPI.js
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/loginBody/loginBody.jsx
  frontend/src/components/placeCard/placeCard.jsx
  frontend/src/components/registerBody/registerBody.jsx
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
  frontend/src/recoil/userState.js
Labels: Frontend, 작업중

#152 [feature/130] 담겨진 장소마다 메모 작성, API 연동
  frontend/src/api/authAPI.js
  frontend/src/api/cartAPI.js
  frontend/src/components/common/memoForm/memoForm.jsx
  frontend/src/components/common/memoForm/memoForm.module.css
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.jsx
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.module.css
  frontend/src/components/loginBody/loginBody.jsx
  frontend/src/components/placeCard/placeCard.jsx
  frontend/src/components/sideMyProfile/sideMyProfile.jsx
  frontend/src/components/sideMyProfile/sideMyProfile.module.css
  frontend/src/index.js
  frontend/src/pages/hotplacePage/hotplacePage.jsx
Labels: Frontend, 작업중

#156 [feature/151] 카트 리셋 버튼 추가하기 + Drag & Drop 수정
  frontend/src/components/common/resetConfirm/resetConfirm.jsx
  frontend/src/components/common/resetConfirm/resetConfirm.module.css
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/common/shoppingCart/shoppingCart.module.css
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.jsx
  frontend/src/index.js
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
Labels: Frontend, 리뷰요청

#155 [feature/153] http 파일 추가, 경로 리뷰 좋아요 기능 구현
  backend/api/src/docs/asciidoc/place.adoc
  backend/api/src/docs/asciidoc/route.adoc
  backend/api/src/main/java/me/travelplan/service/place/PlaceService.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RouteQueryRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReview.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewLike.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewLikeRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteDto.java
  backend/api/src/main/resources/db/migration/V20210503142251__Create_Routes_Reviews_Likes_Table.sql
  backend/api/src/rest/PlaceController.http
  backend/api/src/rest/RouteController.http
  backend/api/src/rest/RoutesController.http
  backend/api/src/test/java/me/travelplan/web/PlaceControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: Backend, 리뷰요청

#160 [feature/159] place 조회 구현, cart http 파일 추가, Route 조회시 Route 평점 추가
  backend/api/src/docs/asciidoc/place.adoc
  backend/api/src/main/java/me/travelplan/security/jwt/JwtTokenProvider.java
  backend/api/src/main/java/me/travelplan/service/exception/PermissionDeniedException.java
  backend/api/src/main/java/me/travelplan/service/exception/ResponsibleClientException.java
  backend/api/src/main/java/me/travelplan/service/exception/ResponsibleServerException.java
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceMapper.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceRepository.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceReview.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceService.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/user/AuthService.java
  backend/api/src/main/java/me/travelplan/service/user/exception/PasswordWrongException.java
  backend/api/src/main/java/me/travelplan/web/advice/CustomExceptionHandler.java
  backend/api/src/main/java/me/travelplan/web/advice/ErrorResponse.java
  backend/api/src/main/java/me/travelplan/web/common/FileDto.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceController.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceResponse.java
  backend/api/src/main/java/me/travelplan/web/route/RouteResponse.java
  backend/api/src/rest/CartController.http
  backend/api/src/rest/PlaceController.http
  backend/api/src/test/java/me/travelplan/web/PlaceControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: Backend, 리뷰요청

#158 [feature/109] 사용자 정보에 아바타 (이미지) 추가
  backend/api/src/docs/asciidoc/index.adoc
  backend/api/src/main/java/me/travelplan/service/file/FileS3Uploader.java
  backend/api/src/main/java/me/travelplan/service/file/FileService.java
  backend/api/src/main/java/me/travelplan/service/user/AvatarMapper.java
  backend/api/src/main/java/me/travelplan/service/user/AvatarMapping.java
  backend/api/src/main/java/me/travelplan/service/user/User.java
  backend/api/src/main/java/me/travelplan/service/user/UserMapper.java
  backend/api/src/main/java/me/travelplan/web/auth/AuthController.java
  backend/api/src/main/java/me/travelplan/web/auth/AuthRequest.java
  backend/api/src/main/resources/db/migration/V20210308151110__Create_Users_Table.sql
  backend/api/src/rest/AuthController.http
  backend/api/src/test/java/me/travelplan/web/AuthControllerTest.java
Labels: Backend, 작업중

#165 [feature/164] 경로 생성, 내 경로 조회 API 연동
  frontend/src/api/routeAPI.js
  frontend/src/components/common/inputRootName/inputRootName.jsx
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/pages/hotplacePage/hotplacePage.jsx
Labels: Frontend

#175 [feature/172] 경로 상세 페이지 API 연동
  frontend/src/App.js
  frontend/src/api/routeAPI.js
  frontend/src/components/detailProfile/detailProfile.jsx
  frontend/src/components/detailProfile/detailProfile.module.css
  frontend/src/components/detailProfile/detailProfileCondition/detailProfileCondition.jsx
  frontend/src/components/detailProfile/detailProfileCondition/detailProfileCondition.module.css
  frontend/src/components/detailProfile/detailProfileCondition/myRouteList/myRouteList.jsx
  frontend/src/components/detailProfile/detailProfileCondition/myRouteList/myRouteList.module.css
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/placeCard/placeCard.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.module.css
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/components/routeList/routeListCard/routeListCard.jsx
  frontend/src/components/sideMyProfile/sideMyProfile.jsx
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.module.css
Labels: Frontend, 리뷰요청

#178 [feature/173] 장소 상세 페이지 API 연동
  frontend/src/api/placeAPI.js
  frontend/src/api/reviewAPI.js
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
Labels: Frontend, 리뷰요청

#180 [feature/177] 프로필 수정 , api 권한 수정
  backend/api/src/docs/asciidoc/auth.adoc
  backend/api/src/main/java/me/travelplan/config/SecurityConfig.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewService.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/service/route/domain/Route.java
  backend/api/src/main/java/me/travelplan/service/route/domain/RouteReview.java
  backend/api/src/main/java/me/travelplan/service/user/UserService.java
  backend/api/src/main/java/me/travelplan/service/user/domain/User.java
  backend/api/src/main/java/me/travelplan/service/user/repository/UserRepository.java
  backend/api/src/main/java/me/travelplan/service/user/repository/UserRepositoryCustom.java
  backend/api/src/main/java/me/travelplan/service/user/repository/UserRepositoryImpl.java
  backend/api/src/main/java/me/travelplan/web/auth/AuthController.java
  backend/api/src/main/java/me/travelplan/web/auth/AuthRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RouteController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/web/route/RoutesController.java
  backend/api/src/rest/AuthController.http
  backend/api/src/rest/RouteController.http
  backend/api/src/test/java/me/travelplan/web/AuthControllerTest.java
Labels: Backend, 리뷰요청

#182 [feature/166] 카트에서 장소 순서 수정 구현, 경로 리뷰 리스트 조회 response data 추가
  backend/api/src/docs/asciidoc/cart.adoc
  backend/api/src/main/java/me/travelplan/service/cart/CartPlaceService.java
  backend/api/src/main/java/me/travelplan/service/cart/domain/CartPlace.java
  backend/api/src/main/java/me/travelplan/service/cart/repository/CartPlaceRepository.java
  backend/api/src/main/java/me/travelplan/service/cart/repository/CartPlaceRepositoryCustom.java
  backend/api/src/main/java/me/travelplan/service/cart/repository/CartPlaceRepositoryImpl.java
  backend/api/src/main/java/me/travelplan/web/cart/CartController.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceDto.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceMapper.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RouteDto.java
  backend/api/src/main/java/me/travelplan/web/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/web/route/RouteResponse.java
  backend/api/src/main/resources/db/migration/V20210423102656__Create_Carts_Places_Table.sql
  backend/api/src/rest/CartController.http
  backend/api/src/rest/RouteController.http
  backend/api/src/test/java/me/travelplan/web/CartControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: Backend, 리뷰요청

#185 [feature/169] 경로 상세 리뷰 API 연동 , 리뷰 카드 (수정, 삭제) 조건부 렌더링
  frontend/src/api/cartAPI.js
  frontend/src/api/placeAPI.js
  frontend/src/api/reviewAPI.js
  frontend/src/components/common/deleteConfirm/deleteConfirm.jsx
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.jsx
  frontend/src/components/detailHeader/detailHeader.jsx
  frontend/src/components/placeCard/placeCard.jsx
  frontend/src/components/reviewComponents/reviewForm/reviewForm.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.module.css
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/components/reviewComponents/reviewList/reviewList.module.css
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.module.css
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
Labels: Frontend, 리뷰요청

#188 [feature/179] 장소, 경로 상세페이지 ID 동적으로 구현하기
  frontend/src/components/common/loading/loading.jsx
  frontend/src/components/common/loading/loading.module.css
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.jsx
  frontend/src/components/placeCard/placeCard.jsx
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.module.css
Labels: Frontend, 리뷰요청

#189 [feature/187] navbar 토글 컴포넌트화, hotplacePage 레이아웃 추가
  frontend/src/components/common/navbar/navbar.jsx
  frontend/src/components/common/sideProfileToggle/sideProfileToggle.jsx
  frontend/src/components/common/sideProfileToggle/sideProfileToggle.module.css
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/portalPlaceList/portalPlaceList.jsx
  frontend/src/components/portalPlaceList/portalPlaceList.module.css
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/hotplacePage/hotplacePage.module.css
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.module.css
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
  frontend/src/pages/usersRoutePage/placeListModal/placeListModal.jsx
Labels: Frontend, 리뷰요청

#194 [feature/190] sort(최신순,추천순) 컴포넌트화 , Place 이미지 로드 (커뮤니티)
  frontend/src/App.js
  frontend/src/components/common/detailReviewHeader/detailReviewHeader.jsx
  frontend/src/components/common/detailReviewHeader/detailReviewHeader.module.css
  frontend/src/components/common/reviewUserProfile/reviewUserProfile.jsx
  frontend/src/components/common/reviewUserProfile/reviewUserProfile.module.css
  frontend/src/components/common/sortBox/sortBox.jsx
  frontend/src/components/common/sortBox/sortBox.module.css
  frontend/src/components/detailHeader/detailHeader.jsx
  frontend/src/components/detailHeader/detailHeader.module.css
  frontend/src/components/placeContentBox/placeContentBox.jsx
  frontend/src/components/placeContentBox/placeContentBox.module.css
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.module.css
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCardBottom/reviewCardBottom.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCardBottom/reviewCardBottom.module.css
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/components/reviewComponents/reviewList/reviewList.module.css
  frontend/src/components/reviewComponents/reviewScoreText/reviewScoreText.jsx
  frontend/src/components/reviewComponents/reviewScoreText/reviewScoreText.module.css
  frontend/src/pages/areaPage/areaPage.jsx
  frontend/src/pages/areaPage/common/sortBox/sortBox.jsx
  frontend/src/pages/areaPage/common/sortBox/sortBox.module.css
  frontend/src/pages/areaPage/placeContentBox/mapButton/mapButton.jsx
  frontend/src/pages/areaPage/placeContentBox/mapButton/mapButton.module.css
  frontend/src/pages/areaPage/placeContentBox/placeContentBox.jsx
  frontend/src/pages/areaPage/placeContentBox/placeContentBox.module.css
  frontend/src/pages/areaPage/routeContentBox/routeContentBox.jsx
  frontend/src/pages/reviewDetailPage/reviewDetailPage.jsx
  frontend/src/pages/reviewDetailPage/reviewDetailPage.module.css
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
Labels: Frontend, 리뷰요청

#199 [feature/197] User, Route service layer 테스트 작성
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/web/route/dto/RouteRequest.java
  backend/api/src/main/java/me/travelplan/web/route/review/dto/RouteReviewRequest.java
  backend/api/src/test/java/me/travelplan/service/route/RouteReviewServiceTest.java
  backend/api/src/test/java/me/travelplan/service/route/RouteServiceTest.java
  backend/api/src/test/java/me/travelplan/service/user/UserServiceTest.java
Labels: Backend, 리뷰요청

#200 [feature/198] 카카오 아이콘 추가, map 컴포넌트 이용 지도 렌더링
  frontend/src/App.js
  frontend/src/api/cartAPI.js
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.jsx
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/map/ourPlaceMap/ourPlaceMap.jsx
  frontend/src/components/map/ourPlaceMap/ourPlaceMap.module.css
  frontend/src/components/placeContentBox/placeContentBox.jsx
  frontend/src/components/placeSlider/placeSlider.jsx
  frontend/src/components/placeSlider/placeSlider.module.css
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/hotplacePage/hotplacePage.module.css
  frontend/src/pages/ourPlacePage/ourPlacePage.jsx
  frontend/src/pages/ourPlacePage/ourPlacePage.module.css
Labels: Frontend, 리뷰요청

#206 [feature/205] CartPlaceService, FileService test 작성, 경로 리스트 최신순, 추천순 구현
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewService.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/service/route/repository/RouteRepositoryCustom.java
  backend/api/src/main/java/me/travelplan/service/route/repository/RouteRepositoryImpl.java
  backend/api/src/main/java/me/travelplan/web/common/PageDto.java
  backend/api/src/main/java/me/travelplan/web/common/PageRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RoutesController.java
  backend/api/src/main/java/me/travelplan/web/route/review/RouteReviewController.java
  backend/api/src/rest/route/RoutesController.http
  backend/api/src/test/java/me/travelplan/service/cart/CartPlaceServiceTest.java
  backend/api/src/test/java/me/travelplan/service/file/FileServiceTest.java
  backend/api/src/test/java/me/travelplan/service/route/RouteReviewServiceTest.java
  backend/api/src/test/java/me/travelplan/service/route/RouteServiceTest.java
  backend/api/src/test/java/me/travelplan/web/route/RoutesControllerTest.java
Labels: Backend, 리뷰요청

#209 [feature/201] 경로 좋아요, 좋아요 취소 , 경로 리뷰 좋아요 API 연동, 경로 상세페이지 수정
  frontend/src/api/reviewAPI.js
  frontend/src/api/routeAPI.js
  frontend/src/components/common/reviewUserProfile/reviewUserProfile.jsx
  frontend/src/components/common/reviewUserProfile/reviewUserProfile.module.css
  frontend/src/components/common/sortBox/sortBox.jsx
  frontend/src/components/detailHeader/detailHeader.jsx
  frontend/src/components/map/imageMap/imageMap.jsx
  frontend/src/components/placeInRouteDetail/placeInRouteDetail.jsx
  frontend/src/components/placeInRouteDetail/placeInRouteDetail.module.css
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCardBottom/reviewCardBottom.jsx
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/components/reviewComponents/reviewList/reviewList.module.css
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.module.css
Labels: Frontend, 리뷰요청
