Repository baruntravel/baruntravel, pull requests merged in 2021-04, with the labels that each got.

#70 [feature/61] 리뷰 리스트 컴포넌트와 리뷰 쓰기 컴포넌트 스위치 및 UI 완성
  frontend/src/components/reviewComponents/reviewForm/reviewForm.jsx
  frontend/src/components/reviewComponents/reviewForm/reviewForm.module.css
  frontend/src/components/reviewComponents/reviewForm/reviewImageEdit/reviewImageEdit.module.css
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/components/reviewComponents/reviewList/reviewList.module.css
  frontend/src/components/routeList/routeListCard/routeListCard.module.css
  frontend/src/containers/portalReview/portalReview.jsx
  frontend/src/containers/portalReview/portalReview.module.css
Labels: Frontend, 리뷰요청

#68 [feature/67] 지역코드 및 장소 카테고리 추가
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceCategory.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceCategoryRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/web/route/RouteDto.java
  backend/api/src/main/java/me/travelplan/web/route/RouteResponse.java
  backend/api/src/main/resources/db/migration/V20210313193729__Create_Places_Table.sql
  backend/api/src/main/resources/db/migration/V20210330203929__Create_Places_Categories_Table.sql
  backend/api/src/rest/RouteController.http
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: Backend, 작업중

#73 [feature/72] gradle dependency 수정
  backend/api/build.gradle
Labels: Backend, 리뷰요청

#78 [feature/75] 장소 담은 목록 (쇼핑 카트) 컴포넌트 및 삭제 확인 컴포넌트 구현 완료
  frontend/src/App.js
  frontend/src/components/common/deleteConfirm/deleteConfirm.jsx
  frontend/src/components/common/deleteConfirm/deleteConfirm.module.css
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/common/shoppingCart/shoppingCart.module.css
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.jsx
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.module.css
  frontend/src/components/reviewComponents/reviewForm/reviewForm.module.css
  frontend/src/index.css
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/hotplacePage/hotplacePage.module.css
Labels: Component, Frontend

#84 [Feature/77] 현재 지도에 포함되어 있는 경로 리스트 조회
  backend/api/build.gradle
  backend/api/src/docs/asciidoc/route.adoc
  backend/api/src/main/java/me/travelplan/config/WebMvcConfig.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RouteQueryRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/web/common/PageRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RouteController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RouteResponse.java
  backend/api/src/main/java/me/travelplan/web/route/RoutesController.java
  backend/api/src/main/resources/db/migration/V20210313201711__Create_Routes_Table.sql
  backend/api/src/main/resources/db/migration/V20210330203929__Create_Places_Categories_Table.sql
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RoutesControllerTest.java
Labels: Backend, 리뷰요청

#80 [feature/79] 장소 검색창, 장소 카테고리 창을 통해 지도에서 장소 찾기 구현
  frontend/src/components/map/hotplaceMap/categoryBar/categoryBar.jsx
  frontend/src/components/map/hotplaceMap/categoryBar/categoryBar.module.css
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/map/hotplaceMap/hotplaceMap.module.css
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/hotplacePage/hotplacePage.module.css
Labels: Component, Frontend

#83 [feature/82] MySQL R-Tree Index 사용을 위한 Entity 좌표정보 변경
  backend/api/build.gradle
  backend/api/src/main/java/me/travelplan/component/custommysqldialect/CustomMySqlDialect.java
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RouteQueryRepository.java
  backend/api/src/main/resources/db/migration/V20210313193729__Create_Places_Table.sql
  backend/api/src/main/resources/db/migration/V20210313201711__Create_Routes_Table.sql
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RoutesControllerTest.java
Labels: Backend, 리뷰요청

#90 [feature/89] 스크롤 된 place카드의 marker로 맵이 이동하는 기능 구현
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/placeCard/placeCard.jsx
  frontend/src/components/placeCard/placeCard.module.css
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/hotplacePage/hotplacePage.module.css
Labels: Frontend, 리뷰요청

#87 [feature/86] RouteReview 생성 api 구현
  backend/api/build.gradle
  backend/api/src/docs/asciidoc/route.adoc
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RouteQueryRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReview.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/web/common/PageRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RouteController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteRequest.java
  backend/api/src/main/resources/db/migration/V20210408115733__Create_Routes_Review_Table.sql
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: Backend, 리뷰요청

#94 [feature/93] Carousel 수정 (React slick) 으로 사용 (장소 담기 페이지에서)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/placeCard/placeCard.module.css
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/hotplacePage/hotplacePage.module.css
Labels: Frontend

#98 [feature/97] Geometry Type -> Double Type 좌표정보 변경
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/resources/db/migration/V20210313193729__Create_Places_Table.sql
  backend/api/src/main/resources/db/migration/V20210313201711__Create_Routes_Table.sql
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RoutesControllerTest.java
Labels: Backend, 리뷰요청

#102 [feature/95] 장바구니 담은 장소들 순서 바꾸기 -> 드래그로 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/common/shoppingCart/shoppingCart.module.css
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.jsx
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.module.css
  frontend/src/components/placeCard/placeCard.jsx
  frontend/src/components/placeCard/placeCard.module.css
  frontend/src/pages/hotplacePage/hotplacePage.module.css
  frontend/src/recoil/routeAtom.js
Labels: Frontend

#107 [feature/106] 장소 담기 페이지에서 검색 기능 수정 (맵이 중복 생성 되는 버그 고침)
  frontend/package-lock.json
  frontend/public/index.html
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/pages/hotplacePage/hotplacePage.jsx
Labels: Frontend

#114 [feature/103] 장소 상세화면 구현
  frontend/src/App.js
  frontend/src/api/reviewAPI.js
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/detailHeader/detailHeader.jsx
  frontend/src/components/detailHeader/detailHeader.module.css
  frontend/src/components/map/hotplaceMap/hotplaceMap.jsx
  frontend/src/components/reviewComponents/postImages/postImages.jsx
  frontend/src/components/reviewComponents/postImages/postImages.module.css
  frontend/src/components/reviewComponents/reviewForm/reviewForm.jsx
  frontend/src/components/reviewComponents/reviewForm/reviewForm.module.css
  frontend/src/components/reviewComponents/reviewForm/reviewImageEdit/reviewImageEdit.jsx
  frontend/src/components/reviewComponents/reviewForm/reviewImageEdit/reviewImageEdit.module.css
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.jsx
  frontend/src/components/reviewComponents/reviewList/reviewCard/reviewCard.module.css
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.module.css
Labels: Frontend, 리뷰요청

#115 [feature/110] 이미지 클릭 시 줌 UI 수정
  frontend/src/components/reviewComponents/imagesZoom/imagesZoom.jsx
  frontend/src/components/reviewComponents/imagesZoom/imagesZoom.module.css
Labels: Frontend

#101 [feature/99] 장소 리뷰 구현
  backend/api/src/docs/asciidoc/place.adoc
  backend/api/src/main/java/me/travelplan/config/jpa/BaseEntity.java
  backend/api/src/main/java/me/travelplan/exception/BusinessException.java
  backend/api/src/main/java/me/travelplan/exception/EntityNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceMapper.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceReview.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceReviewRepository.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceService.java
  backend/api/src/main/java/me/travelplan/service/place/exception/PlaceNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/place/exception/PlaceNotUpdatableException.java
  backend/api/src/main/java/me/travelplan/service/place/exception/PlaceReviewNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/place/exception/PlaceReviewNotUpdatableException.java
  backend/api/src/main/java/me/travelplan/web/advice/CustomExceptionHandler.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceController.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceDto.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceRequest.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceResponse.java
  backend/api/src/main/resources/db/migration/V20210410141311__Create_Places_Reviews_Table.sql
  backend/api/src/rest/PlaceController.http
  backend/api/src/test/java/me/travelplan/web/PlaceControllerTest.java
Labels: Backend, 리뷰요청

#104 [feature/100] 경로 리뷰 구현
  backend/api/build.gradle
  backend/api/src/docs/asciidoc/route.adoc
  backend/api/src/main/java/me/travelplan/ApiApplication.java
  backend/api/src/main/java/me/travelplan/config/AWSS3Config.java
  backend/api/src/main/java/me/travelplan/config/jpa/BaseEntity.java
  backend/api/src/main/java/me/travelplan/exception/BusinessException.java
  backend/api/src/main/java/me/travelplan/exception/EntityNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/exception/PermissionDeniedException.java
  backend/api/src/main/java/me/travelplan/service/file/File.java
  backend/api/src/main/java/me/travelplan/service/file/FileRepository.java
  backend/api/src/main/java/me/travelplan/service/file/FileS3Uploader.java
  backend/api/src/main/java/me/travelplan/service/file/RandomStringBuilder.java
  backend/api/src/main/java/me/travelplan/service/file/S3FileUploadException.java
  backend/api/src/main/java/me/travelplan/service/file/S3Props.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RouteNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/route/RouteQueryRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReview.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewFile.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewFileRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteReviewRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/service/route/exception/RouteNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/route/exception/RouteReviewNotFoundException.java
  backend/api/src/main/java/me/travelplan/web/common/FileDto.java
  backend/api/src/main/java/me/travelplan/web/common/SavedFile.java
  backend/api/src/main/java/me/travelplan/web/route/RouteController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteDto.java
  backend/api/src/main/java/me/travelplan/web/route/RouteRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RouteResponse.java
  backend/api/src/main/resources/application-local.yaml
  backend/api/src/main/resources/db/migration/V20210313193728__Create_Files_Table.sql
  backend/api/src/main/resources/db/migration/V20210408115733__Create_Routes_Reviews_Table.sql
  backend/api/src/main/resources/db/migration/V20210410201319__Create_Routes_Reviews_Files.sql
  backend/api/src/main/resources/mock/images/enjoy.png
  backend/api/src/main/resources/mock/images/enjoy2.png
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: Backend, 리뷰요청

#118 [feature/117] 맵 리렌더링 이슈 수정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/map/usersRouteMap/usersRouteMap.jsx
  frontend/src/pages/usersRoutePage/bottomDrawer/bottomDrawer.module.css
  frontend/src/pages/usersRoutePage/routeCarousel/routeCarousel.jsx
  frontend/src/pages/usersRoutePage/routeCarousel/routeCarousel.module.css
  frontend/src/pages/usersRoutePage/routeDetailPage/routeDetail.module.css
  frontend/src/pages/usersRoutePage/routeDetailPage/routeDetailPage.jsx
  frontend/src/pages/usersRoutePage/usersRoutePage.jsx
  frontend/src/recoil/routeAtom.js
Labels: Frontend

#122 [feature/120] 경로 즐겨찾기(좋아요) 기능 구현(생성,수정)
  backend/api/src/docs/asciidoc/route.adoc
  backend/api/src/main/java/me/travelplan/service/file/FileRepository.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteLike.java
  backend/api/src/main/java/me/travelplan/service/route/RouteLikeRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteMapper.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/web/route/RouteController.java
  backend/api/src/main/java/me/travelplan/web/route/RouteRequest.java
  backend/api/src/main/java/me/travelplan/web/route/RouteResponse.java
  backend/api/src/main/java/me/travelplan/web/route/RoutesController.java
  backend/api/src/main/resources/db/migration/V20210417112545__V20210410201319__Create_Routes_likes.sql
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RoutesControllerTest.java
Labels: Backend, 리뷰요청

#131 [feature/125] 경로 담는 페이지에서 추가 기능 (경로 이름, 삭제, 담기) 구현
  frontend/src/api/routeAPI.js
  frontend/src/components/common/deleteConfirm/deleteConfirm.jsx
  frontend/src/components/common/inputRootName/inputRootName.jsx
  frontend/src/components/common/inputRootName/inputRootName.module.css
  frontend/src/components/common/memoForm/memoForm.jsx
  frontend/src/components/common/memoForm/memoForm.module.css
  frontend/src/components/common/shoppingCart/shoppingCart.jsx
  frontend/src/components/common/shoppingCart/shoppingCart.module.css
  frontend/src/components/common/shoppingCart/shoppingItem/shoppingItem.jsx
  frontend/src/components/placeCard/placeCard.jsx
  frontend/src/components/placeCard/placeCard.module.css
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
Labels: Frontend, 리뷰요청

#128 [feature/127] 경로생성페이지 카트 구현
  backend/api/src/docs/asciidoc/cart.adoc
  backend/api/src/docs/asciidoc/index.adoc
  backend/api/src/main/java/me/travelplan/service/cart/CartPlace.java
  backend/api/src/main/java/me/travelplan/service/cart/CartPlaceMapper.java
  backend/api/src/main/java/me/travelplan/service/cart/CartPlaceRepository.java
  backend/api/src/main/java/me/travelplan/service/cart/CartPlaceService.java
  backend/api/src/main/java/me/travelplan/service/cart/exception/PlaceExistedException.java
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/service/route/Route.java
  backend/api/src/main/java/me/travelplan/service/route/RouteLikeRepository.java
  backend/api/src/main/java/me/travelplan/service/route/RouteService.java
  backend/api/src/main/java/me/travelplan/service/route/exception/RouteNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/route/exception/RouteReviewNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/user/UserService.java
  backend/api/src/main/java/me/travelplan/service/user/exception/EmailExistedException.java
  backend/api/src/main/java/me/travelplan/web/cart/CartController.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceDto.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceRequest.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceResponse.java
  backend/api/src/main/resources/db/migration/V20210308151110__Create_Users_Table.sql
  backend/api/src/main/resources/db/migration/V20210313193729__Create_Places_Table.sql
  backend/api/src/main/resources/db/migration/V20210313201711__Create_Routes_Table.sql
  backend/api/src/main/resources/db/migration/V20210313201747__Create_Routes_Places_Table.sql
  backend/api/src/main/resources/db/migration/V20210330203929__Create_Places_Categories_Table.sql
  backend/api/src/main/resources/db/migration/V20210408115733__Create_Routes_Reviews_Table.sql
  backend/api/src/main/resources/db/migration/V20210410141311__Create_Places_Reviews_Table.sql
  backend/api/src/main/resources/db/migration/V20210410201319__Create_Routes_Reviews_Files_Table.sql
  backend/api/src/main/resources/db/migration/V20210417112545__V20210410201319__Create_Routes_likes_Table.sql
  backend/api/src/main/resources/db/migration/V20210423102656__Create_Carts_Places_Table.sql
  backend/api/src/test/java/me/travelplan/web/CartControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: Backend, 리뷰요청

#132 [feature/129] 장소 카트에 담는 페이지, 장소 상세 페이지 로그인 연동
  frontend/src/components/detailHeader/detailHeader.jsx
  frontend/src/components/detailHeader/detailHeader.module.css
  frontend/src/components/loginBody/loginBody.jsx
  frontend/src/components/loginBody/loginBody.module.css
  frontend/src/components/registerBody/registerBody.jsx
  frontend/src/components/registerBody/registerBody.module.css
  frontend/src/containers/portalAuth/portalAuth.jsx
  frontend/src/containers/portalAuth/portalAuth.module.css
  frontend/src/pages/hotplacePage/hotplacePage.jsx
  frontend/src/pages/mainPage/mainPage.jsx
  frontend/src/pages/placeDetailPage/placeDetailPage.jsx
Labels: Frontend

#135 [feature/134] user 상태 관리 (recoil-persist), 로그인, 회원가입 예외처리 및 API 재연동
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/authAPI.js
  frontend/src/components/loginBody/loginBody.jsx
  frontend/src/components/loginBody/loginBody.module.css
  frontend/src/components/registerBody/registerBody.jsx
  frontend/src/components/reviewComponents/moreReviewList/moreReviewList.jsx
  frontend/src/components/reviewComponents/moreReviewList/moreReviewList.module.css
  frontend/src/components/reviewComponents/postImages/postImages.module.css
  frontend/src/components/reviewComponents/reviewList/reviewList.jsx
  frontend/src/components/reviewComponents/reviewList/reviewList.module.css
  frontend/src/pages/routeDetailPage/routeDetailPage.jsx
  frontend/src/pages/routeDetailPage/routeDetailPage.module.css
  frontend/src/recoil/common.js
  frontend/src/recoil/userState.js
Labels: Frontend, 리뷰요청

#133 [feature/126] 장소 좋아요 기능 구현
  backend/api/src/docs/asciidoc/place.adoc
  backend/api/src/docs/asciidoc/route.adoc
  backend/api/src/main/java/me/travelplan/service/cart/CartPlaceMapper.java
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceLike.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceLikeRepository.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceRepository.java
  backend/api/src/main/java/me/travelplan/service/place/PlaceService.java
  backend/api/src/main/java/me/travelplan/web/cart/CartController.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceDto.java
  backend/api/src/main/java/me/travelplan/web/place/PlaceController.java
  backend/api/src/main/resources/db/migration/V20210417112545__V20210410201319__Create_Routes_Likes_Table.sql
  backend/api/src/main/resources/db/migration/V20210425101632__Create_Places_Likes_Table.sql
  backend/api/src/test/java/me/travelplan/web/CartControllerTest.java
  backend/api/src/test/java/me/travelplan/web/PlaceControllerTest.java
  backend/api/src/test/java/me/travelplan/web/RouteControllerTest.java
Labels: Backend, 리뷰요청

#143 [feature/137] 카트 조회시 메모, 주소 추가 , 카트에 장소 담기 수정
  backend/api/src/docs/asciidoc/cart.adoc
  backend/api/src/main/java/me/travelplan/service/cart/CartPlace.java
  backend/api/src/main/java/me/travelplan/service/cart/CartPlaceMapper.java
  backend/api/src/main/java/me/travelplan/service/cart/CartPlaceRepository.java
  backend/api/src/main/java/me/travelplan/service/cart/CartPlaceService.java
  backend/api/src/main/java/me/travelplan/service/cart/exception/CartPlaceNotFoundException.java
  backend/api/src/main/java/me/travelplan/service/place/DetailStatus.java
  backend/api/src/main/java/me/travelplan/service/place/Place.java
  backend/api/src/main/java/me/travelplan/web/cart/CartController.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceDto.java
  backend/api/src/main/java/me/travelplan/web/cart/CartPlaceRequest.java
  backend/api/src/main/resources/db/migration/V20210313193729__Create_Places_Table.sql
  backend/api/src/main/resources/db/migration/V20210423102656__Create_Carts_Places_Table.sql
  backend/api/src/test/java/me/travelplan/web/CartControllerTest.java
Labels: Backend, 리뷰요청
